@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

#root {
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

.markdown-body table {
    width: auto !important;
}

.markdown-body ul li {
    list-style: circle !important;
}

.markdown-body ol li {
    list-style: decimal !important;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        background-color: #0a0a0a;
    }
}